{% extends "base.html" %}

{% block content %}
    <h2>Account "{{ account }}" by {{ username }}</h2>

    <ul>
    {% for t in trans %}
        <li><strong>{{ t.amount }}</strong> at {{ t.date|date:"H:m d/M/Y"|lower }}</li>
    {% endfor %}
    </ul>

{% endblock %}